<template>
    <div class="card form-sign-in">
        <div class="card-header">{{t('Please login')}}</div>
        <div class="card-body text-center" v-if="loading === true">
            <loading/>
            <span class="d-block mt-2">{{t('Verifying your account')}}</span>
        </div>
        <div class="card-body" v-if="loading === false">
            <slot name="before-form"></slot>
            <titan-form ref="loginForm"
                        :schema="schema"
                        :renderInCard="false"
                        :model="formData"
                        @saveData="sendForm()"
            />
            <div class="d-block link-row" v-if="forgotPasswordLink !== null || registrationLink !== null">
                <router-link :to="registrationLink" v-if="registrationLink !== null">
                    {{t(registrationLabel)}}
                </router-link>
                <router-link :to="forgotPasswordLink" v-if="forgotPasswordLink !== null" class="float-right">
                    {{t(forgotPasswordLabel)}}
                </router-link>
            </div>
            <button type="button" class="btn btn-primary btn-block" @click="sendForm()">
                {{t('LogIn')}}
            </button>
            <slot name="after-form"></slot>
        </div>
    </div>
</template>
<script>
    import TitanForm from 'vue-titan/Form/Form'
    import VueFormGenerator from "vue-form-generator";
    import Loading from '../loading';

    export default {
        components: {
            Loading,
            TitanForm
        },
        props: {
            registrationLink: {
                default: null,
            },
            registrationLabel: {
                type: String,
                default: 'Registration',
            },
            forgotPasswordLink: {
                default: null,
            },
            forgotPasswordLabel: {
                type: String,
                default: 'Forgot password?',
            },
            login: {
                type: Function,
                required: true,
            }
        },
        methods: {

            sendForm() {
                if (this.$refs.loginForm.isValid() === true) {
                    this.loading = true;
                    this.login(this.formData).then(response => {
                        this.loading = false;
                        this.$emit('loggedIn');
                    }).catch(error => {
                        this.loading = false;
                        this.$emit('failedToLogin', error);
                    });
                }
            },
        },
        data() {
            return {
                loading: false,
                schema: [
                    {
                        name: '',
                        type: 'main',
                        fields: [
                            {
                                type: 'input',
                                inputType: 'text',
                                label: this.t('Login'),
                                model: 'login',
                                required: true,
                                validator: VueFormGenerator.validators.string
                            }, {
                                type: 'input',
                                inputType: 'password',
                                label: this.t('Password'),
                                model: 'password',
                                required: true,
                                validator: VueFormGenerator.validators.string
                            }
                        ]
                    }
                ],
                formData: {
                    login: '',
                    password: '',
                }
            }
        }
    }
</script>
<style lang="scss">
    .form-sign-in {
        .titan-form-block {
            margin-bottom: 0;
        }

        .link-row {
            margin-top: -5px;
            margin-bottom: 15px;

            a {
                color: #8e8e8e;
                font-size: 15px;
            }
        }
    }

</style>
