<template>
    <div class="titan-switch"
         :class="getStyleClass()"
         v-on:click="value = !value; validateValue()"
    >
        <span v-if="value !== false">{{ yes }}</span>
        <span v-if="value === false">{{ no }}</span>
    </div>
</template>
<script>
    import {abstractField} from "vue-form-generator"

    export default {
        mixins: [abstractField],
        mounted() {
            this.initSettings();
            this.validateValue();
        },
        methods: {
            validateValue() {
                if (this.value === null || this.value === undefined) {
                    this.value = this.schema.default === undefined ? false : this.schema.default;
                }
            },
            initSettings() {
                this.no = this.schema.falseLabel === undefined ? this.no : this.schema.falseLabel !== undefined;
                this.yes = this.schema.trueLabel === undefined ? this.yes : this.schema.trueLabel !== undefined;
            },
            getStyleClass: function () {
                if (this.value === false) {
                    return 'switch-off ' + this.falseBackground;
                }
                return 'switch-on ' + this.trueBackground;
            },
        },
        data() {
            return {
                trueBackground: 'bg-primary',
                falseBackground: 'bg-danger',
                yes: 'Yes',
                no: 'No',
            };
        }
    };
</script>
<style lang="scss">
    .titan-switch {
        height: 34px;
        width: auto;
        display: inline-block;
        color: #fff;
        line-height: 34px;
        cursor: pointer;
        position: relative;
        padding: 0 13px 0 32px;
        border-radius: 4px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;

        &:before {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            right: auto;
            bottom: 4px;
            width: 20px;
            background: #fff;
            border-radius: 3px;
        }

        &.switch-off {
            padding: 0 32px 0 12px;

            &:before {
                right: 4px;
                left: auto;
            }
        }
    }
</style>