<template>
    <div class="file-upload row">
        <vue-transmit class="col-12"
                      tag="section"
                      @complete="uploaded"
                      v-bind="options"
                      upload-area-classes="bg-faded"
                      ref="uploader"
        >
            <div class="drop-zone">
                <font-awesome-icon icon="cloud-upload-alt" size="2x"/>
                <br>
                <button class="btn btn-sm">{{t('Upload Files')}}</button>
            </div>
            <template slot="files" slot-scope="props">
                <div class="ml-2 mr-2">
                    <div v-for="(file, i) in props.files"
                         :key="file.id"
                         class="row file-row"
                         v-if="file.status !== 'success'">
                        <div class="col col-lg-2">
                            <img :src="file.dataUrl" class="img-fluid d-flex">
                        </div>
                        <div class="col col-lg-10">
                            <div class="h3">{{ file.name }}</div>
                            <div class="progress">
                                <div class="progress-bar bg-success" :style="{width: file.upload.progress + '%'}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </vue-transmit>
    </div>
</template>
<script>
    import {VueTransmit} from "vue-transmit";

    export default {
        components: {
            VueTransmit
        },
        props: {
            apiUrl: {
                type: String,
            },
            acceptedFileTypes: {
                type: Array,
                default: function () {
                    return [
                        'image/*',
                        'application/pdf',
                        'application/vnd.ms-excel',
                        'application/msword',
                        'application/vnd.openxmlformats-officedocument.wordprocessingml.template',
                        'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
                        'application/rtf',
                        'application/x-rar-compressed',
                        'application/octet-stream',
                        'application/zip',
                        'multipart/x-zip',
                        'application/x-zip-compressed',
                    ];
                },
            }
        },
        mounted() {
            this.options.acceptedFileTypes = this.acceptedFileTypes;
            this.options.driverOptions.url = this.apiUrl;
        },
        methods: {
            uploaded() {
                this.$emit('addedFile');
            },
        },
        data() {
            return {
                options: {
                    acceptedFileTypes: [],
                    clickable: true,
                    uploadMultiple: true,
                    maxConcurrentUploads: 4,
                    driverOptions: {
                        method: 'post',
                        withCredentials: true,
                        headers: {
                            Authorization: localStorage.getItem('csrf')
                        },
                        url: '',
                        timeout: 3000,
                    }
                }
            }
        },

    }
</script>
<style lang="scss">
    .v-transmit__upload-area {
        border-width: 0 ! important;
        min-height: 0 ! important;
    }

    .drop-zone {
        padding: 20px 20px 15px;
        border: 1px dashed #cdd2d8;
        text-align: center;
        border-radius: 4px;
    }

    .file-row {
        min-height: 50px;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        color: #000;

        &:hover {
            color: #000;
        }

        .file-col-image {
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        .progress {
            height: 10px;
        }
    }
</style>
